.single-tree-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
  }
  
  .single-tree-header {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .single-tree-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  
  .single-tree-card {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .single-tree-card img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    max-width: 500px; /* Set a maximum width */
    border-radius: 10px;
  }
  
  .single-tree-card h2 {
    margin-top: 0;
  }
  
  .single-tree-card p {
    margin-bottom: 0;
  }
  
  .single-tree-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .single-tree-button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }
  
  .single-tree-button:hover {
    background-color: #45a049;
  }
  
  /* Tree Image Animations */
.tree-image {
  max-width: 100%;
  height: auto;
  margin: 2rem auto;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.tree-image:hover {
  transform: scale(1.1) rotate(5deg);
}