.NavBar-title {
    color: #000;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.NavBar-container {
    padding: 8px 16px;
}


.NavBar-linkContainer {
    margin-left: var(--l);
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: #3F9B0B;
    opacity: 0.6;
    text-decoration: none;
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-link.NavBar-login {
    opacity: 1;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }