.progress-container {
  width: 20px;
  margin-top: 200px;
}

.progress-bar {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #e6e6e6;
  margin-bottom: 10px;
}

.progress-bar-fill {
  height: 100%;
  border-radius: 10px;
  background-color: #2ecc71;
  transition: width 0.5s ease-out;
}

.progress-label {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #444444;
}

.progress-button {
  background-color: rgb(10, 110, 171);
  border-radius: 6px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  outline: 0;
  text-align: center;
  margin-right: 10px;
  margin-top: 15px;
}

.tree-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.tree-image {
  width: 150px; /* Default size */
  height: auto;
  transition: width 0.3s ease;
}
