.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  width: 100%; /* Make the container take the full width */
  margin-top: 10px;
}

.progress-bar {
  width: 100%; /* Make the progress bar take the full width of its container */
  max-width: 500px; /* Set a maximum width for the progress bar */
  height: 30px;
  border-radius: 10px;
  background-color: #e2c8b4;
  margin-bottom: 10px;
}

.progress-bar-fill {
  height: 100%;
  border-radius: 10px;
  background-color: #2ecc71;
  transition: width 0.5s ease-out;
}

.progress-label {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #444444;
  text-align: center; /* Center the label text */
}

.question-content {
  /* text-align: center; */
  font-family: "Jersey 15", serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
}
.progress-button {
  background-color: #8b5e3c;
  border-radius: 6px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 24px;
  height: 40px;
  outline: 0;
  text-align: center;
  margin-right: 10px;
  margin-top: 15px;
  font-family: "Jersey 15", serif;
  font-style: normal;
  font-weight: 400;
  
}

.progress-button:hover{
  background-color: #6d4a2f;
  transform: scale(1.05)
}

.tree-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.tree-image {
  width: 150px; /* Default size */
  height: auto; /*Maintain aspect ratio*/
  max-width: 100vh; /*Set a maximum width*/
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  
}
.instruction-container {
  padding: 0px 40px; 
}

.instruction-container h3{
  /* padding: 20px; */
  font-family: "Jersey 15", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
}

.instruction-container p{
  /* padding: 20px; */
  font-family: "Jersey 15", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.question-container {
  margin-top: 20px;
  text-align: center;
}

.question-container p {
  font-size: 18px;
  margin-bottom: 10px;
}

.question-container input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.question-popup {
  background-color: #f9f9f9; /* Light background for the popup */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100;
}

.question-container button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: "Jersey 15", serif;
  font-style: normal;
  font-weight: 400;
}

.question-container button:hover {
  background-color: #45a049;
}

