.tree-card {
    background-color: #dcedc8;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
  }

  .tree-card p {
    font-family: "Jersey 15", serif;
    font-size: 18px;
  }
  .tree-card img{
    max-height: 150px;
    border-radius: 5px;
  }
  .tree-card img:hover{
    transform: scale(1.05);
  }
  .tree-card:hover{
    transform: scale(1.05);
  }
  .delete-button {
    background-color: #8b5e3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 17px;
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;

  }
  
  .delete-button:hover {
    background-color: #785133;
  }

 